ul
  li Server-Sent-Events from Node.js
    pre
      |exports.in = function(req, res) {
      |  res.writeHead(200, {'Content-Type': 'text/html'});
      |  res.write(whatever_message_you_need);
      |  res.end();
      |};
      |exports.msg = function(req, res) {
      |  res.writeHead(200, {
      |    'Content-Type': 'text/event-stream',
      |    'Cache-Control': 'no-cache',
      |    'Connection': 'keep-alive'
      |  });
      |  res.write('data: ' + the_data + '\n');
      |  res.write('\n');
      |};
      |exports.out = function(req, res) {
      |  req.socket.setTimeout(Infinity);
      |  res.writeHead(200, {
      |    'Content-Type': 'text/event-stream',
      |    'Cache-Control': 'no-cache',
      |    'Connection': 'keep-alive'
      |  });
      |  res.write('id: ' + some_ID + '\n');
      |  res.write("data: " + message + '\n');
      |  res.write('\n');
      |  req.on("close", function() {
      |    // cleanup stuff
      |  });
      |};