div(ng-controller="CalcCtrl")
  div(ng-repeat="f in formulae")
    button.btn.btn-danger(type="button", ng-click="f.calc()", data-toggle="collapse", data-target="#calcAccordion{{$index}}")
      |{{f.title}}
    div.collapse.in.collapsed(id="calcAccordion{{$index}}")
      |Result: {{f.val|number:1}}
      label(ng-repeat="var in f.vars")
        span{{var.name}}
        input(ng-model="var.val", ng-change="f.calc()")