h3
  abbr(title="works of the man who is...") Opera Hominis, Qui Est Matthew Currier

p
  h4.text-info
    em Experienced
  dl.dl-horizontal
    dt Directional Driller
    dd
      ul.unstyled
        li Natural Gas
        li Air Drilling
        li S-Wells, Slant Wells, 3D-Wells
        li Freeze-Rings
        li Anti-Collision (close spacings & risks mitigation)
    dt MWD Engineer
    dd
      ul.unstyled
        li E-Field & Mud-Pulse tools
        li LWD: annular-pressure, resistivity, gamma
        li Gyro-MWD
  dl.dl-horizontal
    dt Developer
    dd
      ul.unstyled
        li Web Development (UI & back-end)
        li MS Office apps
        li Medical Manager systems
        li Large portfolio available on request
p
  h4.text-info
    em Skilled
  dl.dl-horizontal
    dt Programming
    dd
      ul.unstyled
        li Javascript (including node.js)
        li HTML/CSS
        li ColdFusion
        li myriad other languages in passing
    dt Familiars
    dd
      ul.unstyled
        li ExpressJS
        li Socket.io
        li AngularJS
        li FW/1
  dl.dl-horizontal
    dt Drilling
    dd
      ul.unstyled
        li Manual survey/drilling calculations
        li Drilling performance
        li DD/MWD troubleshooting
  dl.dl-horizontal
    dt Mining
    dd MSHA Certification
p
  h4.text-info
    em Educated
  dl.dl-horizontal
    dt Master's
    dd
      ul.unstyled
        li University of Phoenix
        li graduated: 2005, 3.7GPA
  dl.dl-horizontal
    dt Bachelor's
    dd
      ul.unstyled
        li Mesa State University
        li graduated: 2003, 3.3GPA
  dl.dl-horizontal
    dt Other
    dd
      ul.unstyled
        li SDI direction drilling school
        li SDI basic survey course
        li H<sub>2</sub>S
        li Safeland, OSHA
p
  h4.text-warning Contact Me
  dl.dl-horizontal
    dt Email
    dd fingerskier at gmail dot com