h3
  abbr(title="works of the man who is...") Opera Hominis, Qui Est Matthew Currier

p
  h4.text-info
    em Experienced
  dl.dl-horizontal
    dt Directional Drilling
    dd stuff
p
  h4.text-info
    em Skilled
  dl.dl-horizontal
    dt Programming
    dd
      ul.unstyled
        li Javascript (including node.js)
        li HTML/CSS
        li ColdFusion
        li myriad other languages in passing
    dt Familiars
    dd
      ul.unstyled
        li ExpressJS
        li Socket.io
        li AngularJS
        li FW/1
  dl.dl-horizontal
    dt Drilling
    dd credentials
  dl.dl-horizontal
    dt Mining
    dd credentials
p
  h4.text-info
    em Educated
  dl.dl-horizontal
    dt Master's
    dd UoP
  dl.dl-horizontal
    dt Bachelor's
    dd UoP
  dl.dl-horizontal
    dt Other
    dd certifications & stuff
p
  h4.text-warning Contact Me
  dl.dl-horizontal
    dt Email
    dd fingerskier at gmail dot com