extends layout

block body
  div(ng-controller='AppCtrl')
    div(ng-mouseleave="titler=0", ng-mouseover="titler=1")
      h2 fingerskier
        a(href="/", ng-show="titler") ^
      h6.ng-cloak.text-info(align="center")
        abbr(title="Gerald Sussman"){{sussman}}

    ul.nav.nav-tabs
      li(ng-class="activeAction('muse')")
        a(href='muse') musings
      li(ng-class="activeAction('stash')")
        a(href='stash') code stash
      li(ng-class="activeAction('calc')")
        a(href='calc') calculator
      li(ng-class="activeAction('chat')")
        a(href='chat') talker
      li(ng-class="activeAction('CV')")
        a(href='CV') C.V.

    ul(ng-cloak, ng-switch='root')
      li(ng-switch-default)
        include main
      li(ng-switch-when='muse')
        include muse
      li(ng-switch-when='stash')
        include stash
      li(ng-switch-when='calc')
        include calc
      li(ng-switch-when='chat')
        include chat
      li(ng-switch-when='CV')
        include CV

    pre#bottomPanel fingerskier v1.0

  script(src='lib/firebase/firebase.js')
  script(src='lib/angular/angular.min.js')
  script(src='lib/angular/angular-bootstrap.min.js')
  script(src='lib/angular/angular-bootstrap-prettify.min.js')
  script(src='lib/angular/angular-loader.min.js')
  script(src='lib/angular/angular-resource.min.js')
  script(src='lib/angular/angular-sanitize.min.js')
  script(src='lib/firebase/angularfire.js')
  script(src='lib/jquery/js/jquery.min.js')
  script(src='lib/jquery/js/jquery-ui.min.js')
  script(src='lib/angular-ui/angular-ui.min.js')
  script(src='lib/angular-ui/angular-ui-ieshiv.min.js')
  script(src='lib/bootstrap/js/bootstrap.min.js')

  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/app.js')