h3 Welcome!

p This site is dedicated to things that interest me.
  span  I am a drilling professional in the energy industry (oil/gas/mining).
  span  I am also a professional developer with an emphasis on web technologies.

p The code-stash is a collection of useful snippets and info that I use day-to-day.
  span  The calc is [mostly] formulae that I use in the execution of drilling operations.
  span  Both of these are works in progress that I am continually updating.
  em  Neither are authoritative nor carry any guarantee of accuracy or completeness.

p This site is composed using Javascript (with Jade templates) on top of ExpressJS (a Node.js server) using AngularJS for the client-scripting and Bootstrap for style.
  span  If you have a need to contact me please feel free to throw me an email: fingerskier at gmail dot com.