h3 Welcome!

p This site is dedicated to things that interest me.&nbsp;
  span  I am a drilling professional in the energy industry (oil/gas/mining).&nbsp;
  span  I am also a professional developer with an emphasis on web technologies.&nbsp;

p The code-stash is a collection of useful snippets and info that I use day-to-day.&nbsp;
  span  The calc is [mostly] formulae that I use in the execution of drilling operations.&nbsp;
  span  Both of these are works in progress that I am continually updating.&nbsp;
  em  Neither are authoritative nor carry any guarantee of accuracy or completeness.&nbsp;

p This site is composed using Javascript (with Jade templates) on top of ExpressJS (a Node.js server) using AngularJS for the client-scripting and Bootstrap for style.&nbsp;
  span  If you have a need to contact me please feel free to throw me an email: fingerskier at gmail dot com.&nbsp;
  span  You can check out the&nbsp;
    a(href="fingerskier.posterous.com") blog at Posterous