dl.dl-horizontal
  dt Henry Brooks Adams
  dd
    ul.unstyled
      li They know enough who know how to learn

  dt Marvin Minsky
  dd
    ul.unstyled
      li "Computer Science" is not a science, and it's significance has little to do with computers.

  dt Larry Wall
  dd
    ul.unstyled
      li I think computer science, by and large, is still stuck in the Modern Age.

  dt H.Abelson, G.Sussman
  dd
    ul.unstyled
      li Programs must be written for people to read, and only incidentally for machines to execute.

  dt Dorothy Day
  dd
    ul.unstyled
      li If they come for the innocent without stepping over your body, cursed be your religion and your life.
      li Food for the body is not enough.  There must be food for the soul.

  dt Robert Heinlein
  dd
    ul.unstyled
      li A human being should be able to change a diaper, plan an invasion, butcher a hog, conn a ship, design a building, write a sonnet, balance accounts, build a wall, set a bone, comfort the dying, take orders, give orders, cooperate, act alone, solve equations, analyze a new problem, pitch manure, program a computer, cook a tasty meal, fight efficiently, die gallantly.  Specialization is for insects.
      li Writing is not necessarily something to be ashamed of, but do it in private and wash your hands when you're done.
      li Good sentences are like Girls' skirts. The shorter, the better, but they still have to cover the important parts.

  dt Gary Lloyd
  dd
    ul.unstyled
      li When government's boot is on your throat, whether it is a left boot or a right boot is of no consequence.

  dt Abraham Lincoln
  dd
    ul.unstyled
      li The philosophy of the classroom today, will be the philosophy of the government tomorrow.

  dt D. Adams
  dd
    ul.unstyled
      li A common mistake people make when trying to design something completely foolproof is to underestimate the ingenuity of complete fools.

  dt J. Albers
  dd
    ul.unstyled
      li Good teaching is more a giving of the right questions than a giving of the right answers.

  dt Mahatma Gandhi
  dd
    ul.unstyled
      li Among the many misdeeds of the British rule in India, history will look upon the Act depriving a whole nation of arms, as the blackest.
      li The weak can never forgive.  Forgiveness is an attribute of the strong.
      li Even if you are a minority of one, the truth is the truth.

  dt H. Aiken
  dd
    ul.unstyled
      li Don't worry about people stealing your ideas. If your ideas are any good, you'll have to ram them down people's throats.

  dt Don Juan
  dd
    ul.unstyled
      li The difference between a warrior and an ordinary man is a warrior sees everything as a challenge and an ordinary man sees it as a blessing or curse.

  dt Aristotle
  dd
    ul.unstyled
      li We are what we repeatedly do.  Excellence, then, is not an act but a habit.

  dt Thomas Paine
  dd
    ul.unstyled
      li If there must be trouble, let it be in my day, that my children may have peace.

  dt Bejamin Franklin
  dd
    ul.unstyled
      li Sell not virtue to purchase wealth, nor Liberty to purchase power.

  dt John Adams
  dd
    ul.unstyled
      li Teach your children the art of war, so that they may teach their children math and science, and their children can study art and literature.
      li I am a revolutionary, so my son can be a farmer, so his son can be a poet.

  dt George Orwell
  dd
    ul.unstyled
      li People sleep peacefully in their beds at night only because rough men stand ready to do violence on their behalf.

  dt Thomas Jefferson
  dd
    ul.unstyled
      li To compel a man to furnish contributions of money for the propagation of opinions which he disbelieves and abhors, is sinful and tyrannical.
      li The strongest reason for the people to retain the right to keep and bear arms is, as a last resort, to protect themselves against tyranny in government.
      li The beauty of the Second Amendment is that it will not be needed until they try to take it.
      li My reading of history convinces me that most bad government results from too much government.

  dt Larry MacDonald
  dd
    ul.unstyled
      li Four boxes guarantee our freedom: They are the Soap Box; the Ballot Box; the Jury Box; and the Cartridge Box.

  dt Frank Herbert
  dd
    ul.unstyled
      li "Litany of Fear": I must not fear.  Fear is the mind-killer.  Fear is the little-death that brings total obliteration.  I will face my fear.  I will permit it to pass over me and through me.  And when it has gone past I will turn the inner eye to see its path.  Where the fear has gone there will be nothing.  Only I will remain.

  dt Unknown Purveyor
  dd
    ul.unstyled
      li We do not rise to the occassion, we fall to the level of our training.
  dd
    ul.unstyled
      li All programmers are playwrights and all computers are lousy actors.
  dd
    ul.unstyled
      li The person who knows HOW will always have a job. The person who knows WHY will always be their boss.
  dd
    ul.unstyled
      li Debugging is anticipated with distaste, performed with reluctance, and bragged about forever.
  dd
    ul.unstyled
      li The person who says it cannot be done should not interrupt the person doing it.
  dd
    ul.unstyled
      li Give a man a fish and feed him for a day; teach a man to fish and feed him for a lifetime; teach him to teach others to fish - and you feed a nation.