h3 code stash container

ul.inline.nav.nav-pills
  li(ng-class="activeBranch('cf')")
    a(ng-href="{{branchURL('cf')}}") ColdFusion
  li(ng-class="activeBranch('js')")
    a(ng-href="{{branchURL('js')}}") Javascript
  li(ng-class="activeBranch('redis')")
    a(ng-href="{{branchURL('redis')}}") Redis

div(ng-switch='branch')
    div(ng-switch-when='cf')
      include stash/cf
    div(ng-switch-when='js')
      include stash/js
    div(ng-switch-when='redis')
      include stash/redis