body
  padding-bottom 55px

dl
  border thin dotted lightgray

li
  list-style-type: none

ul > li
  margin-left 10px

#bottomPanel
  position fixed
  bottom 3px
  right 3px

#colorList
	border thick solid blue

#scribbleCanvas
	border thin dotted purple

.colorBox
	border thin solid black
	// float left
	height 33px
	width 33px

.ng-cloak
  display none