body {
  padding-bottom: 55px;
}
dl {
  border: thin dotted #d3d3d3;
}
li {
  list-style-type: none;
}
ul > li {
  margin-left: 10px;
}
#bottomPanel {
  position: fixed;
  bottom: 3px;
  right: 3px;
}
#colorList {
  border: thick solid #00f;
}
#scribbleCanvas {
  border: thick dotted #800080;
}
.colorBox {
  border: thin solid #000;
  float: left;
  height: 33px;
  width: 33px;
}
.ng-cloak {
  display: none;
}
