ul Hashes
  li X:user:1 => {id:1, email:a@b.com, name:John, password:secret}
ul Sorted-Sets
  li Indexing
    ul
      li X:users:email => ({ID, hash(email)}, ...)
      li zrangebyscore (also zrange & zinterstore)
  li Geo-Hashing
  li feature vectors
  li frequency counts
  li probabilities
  li intersection can yield SUM(scores) : log(P(a)) + log(P(b))
ul Bitmaps
  li Strings can be treated like bitmaps
  li Record unique hit => bitset unique_hits:day:923809 {user_ID} 1
  li Retrieve uniques per day => bitcount unique_hits:day:923809
  li Retrieve uniques per week into temp => bitop or tmp_key unique_hits:day:923809 unique_hits:day:923810 ...; bitcount tmp_key
ul PubSub