| Data
|   Database
|     contains a set of data
|     identified by an integer
|
| Keys
|   any string
|
| Values
|   Generic
|     expire, ttl
|   Simple ()
|     set, get, incr, decr, incrby, decrby
|   Lists (l)
|     a series of ordered values, an array
|     right is the "end", left is the "beginning"
|     rpush, lpush, llen, lrange, lpop, rpop
|   Sets (s)
|     does not maintain an order
|     each element must be unique
|     sadd, srem, sismember, smembers, sunion, scard
|     sinter SET1 SET2 ...
|   Sorted Sets (z)
|     sets where each element has a score
|   Hashes
|
|
| Commands
|   append KEY VAL
|   _strings
|   get KEY
|   getrange KEY START END
|   incr KEY
|   incrby KEY X
|   decr KEY
|   decrby KEY X
|   expire KEY TIMEs
|   flushdb
|   getbit
|   _hashes
|   hset KEY FIELD VAL
|   hget KEY FIELD
|   hmset KEY [FIELD VAL]+
|   hmget KEY [FIELD]+
|   hgetall KEY
|   hkeys KEY
|   hdel KEY FIELD
|   _lists
|   lpush KEY VAL
|   ltrim KEY START END
|   lrange LIST START END
|   _sets
|   sadd KEY [VAL]+
|   set KEY VAL
|   setbit
|   setnx KEY VAL
|   sismember KEY VAL
|   sinter KEY KEY
|   sinterstore KEY KEY KEY
|   _sorted_sets
|   strlen KEY
|   ttl   time-to-live
|   zadd KEY (SCORE VAL)+
|   zcount friends:duncan SCORE SCORE
|   zrevrank KEY SCORE
|
|  DECR, DECRBY, DEL, EXISTS, GET, GETSET, HDEL, HEXISTS, HGET, HGETALL, HINCRBY, HKEYS, HLEN, HMSET, HSET, HVALS, INCR, INCRBY, KEYS, LINDEX, LLEN, LPOP, LPUSH, LRANGE, LREM, LSET, LTRIM, MGET, MSET, MSETNX, RENAME, RENAMENX, RPOP, RPOPLPUSH, RPUSH, SADD, SCARD, SDIFF, SDIFFSTORE, SET, SETNX, SINTER, SINTERSTORE, SISMEMBER, SMEMBERS, SMOVE, SORT, SPOP, SRANDMEMBER, SREM, SUNION, SUNIONSTORE, TTL, TYPE, ZADD, ZCARD, ZINCRBY, ZRANGE, ZRANGEBYSCORE, ZREM, ZREMRANGEBYSCORE, ZREVRANGE, ZSCORE