ul.inline.nav.nav-pills
  li(ng-class="activeLeaf('cheater')")
    a(ng-href="{{leafURL('cheater')}}") Cheat-Sheet
  li(ng-class="activeLeaf('patterns')")
    a(ng-href="{{leafURL('patterns')}}") Patterns
  li(ng-class="activeLeaf('apatterns')")
    a(ng-href="{{leafURL('apatterns')}}") Anti-Patterns

div(ng-switch="leaf")
  div(ng-switch-when="cheater")
    include redis/cheater
  div(ng-switch-when="patterns")
    include redis/patterns
  div(ng-switch-when="apatterns")
    include redis/apatterns