h3 Curriculum Vitae de Matthew Currier

p
  span.text-info
    em Experienced
  dl
    dt Directional Drilling
    dd stuff
p
  span.text-info
    em Skilled
  dl
    dt Programming
    dd credentials
  dl
    dt Drilling
    dd credentials
  dl
    dt Mining
    dd credentials
p
  span.text-info
    em Educated
  dl
    dt Master's
    dd UoP
  dl
    dt Bachelor's
    dd UoP
  dl
    dt Other
    dd certifications & stuff
